.cart-container {
    padding: 0 20%; /* Cách mỗi bên 20% */
  }
  
  .title-cart {
    text-align: center;
    margin-top: 150px;
  }
  
  .cart-row {
    display: flex;
    justify-content: center;
  }
  
  .cart-items {
    border: 1px solid #ccc; /* Viền khung */
    border-radius: 10px; /* Bo tròn góc */
    padding: 20px; /* Khoảng cách bên trong khung */
    width: 100%; /* Chiều rộng khung */
  }
  
  .cart-items ul {
    list-style-type: none; /* Loại bỏ dấu đầu dòng */
    padding: 0;
  }
  
  .cart-items li {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Khoảng cách giữa các sản phẩm */
  }
  
  .checkbox-container {
    margin-right: 10px; /* Khoảng cách giữa ô checkbox và hình ảnh */
  }

  .product-info {
    margin-left: 20px; /* Khoảng cách giữa hình ảnh và thông tin sản phẩm */
  }
  
  .product-info span {
    display: block;
    font-size: 1.2em;
  }
  .product-info span.price {
    display: block;
    font-size: 1.2em;
  }
  .quantity {
    margin-left: auto; /* Đẩy nút tăng/giảm số lượng về phía bên phải */
  }
  
  .quantity button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .quantity button:hover {
    background-color: #ddd; /* Màu nền khi di chuột qua */
  }
  
  .quantity span {
    margin: 0 10px; /* Khoảng cách giữa nút tăng/giảm và số lượng */
  }
  
  .cart-items img {
    width: 100px; /* Độ rộng của hình ảnh */
    height: auto; /* Chiều cao tự điều chỉnh */
  }
  .total-amount {
    margin-top: 20px;
    font-weight: bold;
    font-size:  1.2em;
  }
  .remove-button button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #ff0000; /* Màu đỏ */
    font-size: 24px; /* Kích thước icon */
     margin-left: 10px;
  }
  