.search-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  #search-bar {
    padding: 10px 30px 10px 10px; /* Cung cấp padding bên phải để không chạm vào biểu tượng */
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 500px; /* Độ rộng của ô tìm kiếm */
  }
  
  #search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px; /* Độ rộng của nút tìm kiếm */
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  #search-button i {
    color: #213121;
  }
  
  /* Hover style cho nút tìm kiếm */
  #search-button:hover i {
    color: #55f968;
  }
  .product-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  .portfolio-items img {
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của container */
    height: auto; /* Cho phép chiều cao tự động điều chỉnh tương ứng với chiều rộng */
    display: block; /* Đảm bảo hình ảnh hiển thị là block để áp dụng margin và padding */
    margin: 0 auto;
    width: 300px; 
    height: 300px;/* Canh giữa hình ảnh trong container */
    padding: 0;
    border: 0;
  }
  .addToCard {
    background-color: #4caf50; /* Màu nền của nút */
    color: white; /* Màu chữ trên nút */
    padding: 10px 20px; /* Kích thước lề của nút */
    border: none; /* Loại bỏ đường viền của nút */
    border-radius: 5px; /* Bo tròn các góc của nút */
    cursor: pointer; /* Hiển thị con trỏ khi di chuột qua nút */
  }
  
  .addToCard:hover {
    background-color: #45a049; /* Màu nền của nút khi di chuột qua */
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #45a049;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .btn-pagination {
    background-color: #007bff; 
    color: #ffffff; 
  }
  .btn-pagination:hover {
    background-color: #45a049; 
  }

  .button-load-more {
    background-color: #45a049;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  
  }
  
  .button-load-more:hover {
    background-color: #45a049; 
  }
  .btn-load-more{
    padding-bottom: 20px;
  }
  .no-results{
    font-size: 20px;
    margin: 30px;
  }